@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", serif;
}

.primary-btn {
  background-color: #004734e0;
  color: white;
}

/* .badge-color {
  background-color: rgba(255, 255, 255, 0.912);
  color: #006e51;
  color: #059669;
} */

.emerald-loader {
  /* border-color: #059669 !important; */
  border-top-color: #059669 !important;
  border-bottom-color: #059669 !important;
}